.DS_Store
build
*src.linux*
*~
*.fpp
*.o
*.mod
*.a
*.so
f90wrap*.f90
*.pyc
*f2py_f2cmap
*_pkg*
examples/mockderivetype/mockdt.py
define_a_type.py
leveltwomod.py
use_a_type.py
examples/example-arrays/ExampleArray.py
# ignore dev tool specific files
.pydevproject
org.eclipse.core.resources.prefs
docs/_build
src.*
.f2py_f2cmap
.ipynb_checkpoints