.DS_Store
build
*~
*.fpp
*.o
*.mod
*.a
*.so
f90wrap*.f90
*.pyc
.pydevproject
examples/mockderivetype/mockdt.py
define_a_type.py
leveltwomod.py
use_a_type.py
org.eclipse.core.resources.prefs
docs/_build
src.*
.f2py_f2cmap
.ipynb_checkpoints
.idea/
